/* larger.css */
@media (min-width: 1025px) {    
    .discover-grid {        
        grid-template-columns: repeat(4, 1fr);       
        grid-template-areas:            "card1 card2 card3 card4"            "card5 card6 card7 card8";    
    }

    .card figure img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .card figure img {
    transition: transform 0.3s ease-in-out;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li a {
        border-bottom: none;
    }
.directory-container { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; padding: 2rem; 
}

header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; padding: 1rem 5%; } 
}