@media (min-width: 769px) {
    header {
        justify-content: space-between;
    }

    .navbar { 
        display: flex; 
    }

    .navbar ul {
    display: flex; 
}

.navbar li { 
    margin: 0 2rem; 
}

main {
    max-width: 1200px; 
    margin: auto; 
}

section { 
    padding: 2rem; 
}

.logo img {
    max-width: 200px; 
}

.name { font-size: 2rem;  
} }